<div class="flex">
  <div>
    <%= image_pack_tag("media/images/music.svg", size: "100x100") %>
  </div>
  <div>
    <h1>Welcome to NorthBy</h1>
    <h2>A premium in sight and sound</h2>
    <button>Learn More</button>
  </div>
</div>
