<div class="flex justify-center bg-gray-200">
  <div class="mx-4 order-last self-center">
    <%= image_pack_tag("media/images/music.svg", size: "100x100", class: "rounded-full") %>
  </div>
  <div class="mx-4 self-center text-center">
    <h1 class="text-6xl font-bold text-green-700">Welcome to Tailwind</h1>
    <h2 class="text-3xl font-semibold text-green-400">A premium in sight and sound</h2>
    <button class="my-4 px-4 py-2 border-2 border-black rounded-lg text-white bg-green-900">Learn More</button>
  </div>
</div>
